In [32]:
import pandas as pd

In [33]:
import os 
os.listdir('./data/')

['.DS_Store', 'Resettlements.csv', 'Refugees.csv', 'Refugees.xls']

In [34]:
filename = "./data/Refugees.csv"

In [35]:
pd.read_csv("./data/Refugees.csv", low_memory=False, skipinitialspace=True).head(10)

,Extracted from the UNHCR Population Statistics Reference Database,United Nations High Commissioner for Refugees,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Date extracted: 2015-11-26 04:22:38 +01:00,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,Country / territory of asylum/residence,Origin,Year,Month,Value
3,Australia,Afghanistan,1999,January,8
4,Australia,Afghanistan,1999,February,10
5,Australia,Afghanistan,1999,March,25
6,Australia,Afghanistan,1999,April,25
7,Australia,Afghanistan,1999,May,7
8,Australia,Afghanistan,1999,June,24
9,Australia,Afghanistan,1999,July,30

In [40]:
#Remove whitespaces and first 3 rows
refug = pd.read_csv("./data/Refugees.csv", low_memory=False, skiprows = 3, skipinitialspace=True)

In [41]:
refug.head(10)

,Country / territory of asylum/residence,Origin,Year,Month,Value
0,Australia,Afghanistan,1999.0,January,8
1,Australia,Afghanistan,1999.0,February,10
2,Australia,Afghanistan,1999.0,March,25
3,Australia,Afghanistan,1999.0,April,25
4,Australia,Afghanistan,1999.0,May,7
5,Australia,Afghanistan,1999.0,June,24
6,Australia,Afghanistan,1999.0,July,30
7,Australia,Afghanistan,1999.0,August,15
8,Australia,Afghanistan,1999.0,September,10
9,Australia,Afghanistan,1999.0,October,88

In [50]:
refug.rename(columns = {'Country / territory of asylum/residence' : 'End_Country', 'Value' : 'Asylum_seekers'}, inplace=True)

In [51]:
refug.dtypes

End_Country       object
Origin            object
Year               int64
Month             object
Asylum_seekers     int64
dtype: object

In [52]:
#Remove all non-numeric values from "Value" column
refug['Asylum_seekers'] = pd.to_numeric(refug['Asylum_seekers'], errors='coerce')
#Drop all rows with Null values 
refug = refug.dropna(subset=['Asylum_seekers'])
#Convert "Value" varible to integer
refug['Asylum_seekers'] = refug['Asylum_seekers'].astype(int)
refug['Year'] = refug['Year'].astype(int)
refug.head(10)

  End_Country       Origin  Year      Month  Asylum_seekers
0   Australia  Afghanistan  1999    January               8
1   Australia  Afghanistan  1999   February              10
2   Australia  Afghanistan  1999      March              25
3   Australia  Afghanistan  1999      April              25
4   Australia  Afghanistan  1999        May               7
5   Australia  Afghanistan  1999       June              24
6   Australia  Afghanistan  1999       July              30
7   Australia  Afghanistan  1999     August              15
8   Australia  Afghanistan  1999  September              10
9   Australia  Afghanistan  1999    October              88

In [53]:
refug.dtypes

End_Country       object
Origin            object
Year               int64
Month             object
Asylum_seekers     int64
dtype: object

In [58]:
import ipywidgets as widgets
import matplotlib.ticker as ticker
#Graph depicting number of refugees over years by orgin
def plot_Asylum_seekers(dataframe, Origin): 
    I = dataframe['Origin'] == Origin
    
    ax=dataframe.loc[I,:].groupby(['Year'])['Asylum_seekers'].sum().plot(x='Year', y='Value', style='-o', legend='False') #Aggregate on yearly level to get total refugees per year. 
    ax.xaxis.set_major_formatter(ticker.FormatStrFormatter("%d"))
    ax.get_yaxis().get_major_formatter().set_scientific(False)
    ax.set_title("Total number of Asylum Seekers by Origin Country")
    ax.set_ylabel("Number of Asylum Seekers")

In [59]:
    widgets.interact(plot_Asylum_seekers, 
    dataframe = widgets.fixed(refug),
    Origin = widgets.Dropdown(description='Origin', options=refug.Origin.unique(), value='Afghanistan')
);

interactive(children=(Dropdown(description='Origin', options=('Afghanistan', 'Albania', 'Algeria', 'Angola', '…

In [60]:
#Graph depicting number of refugees over years by End_Country
def plot_Asylum_seekersEND(dataframe, End_Country): 
    L = dataframe['End_Country'] == End_Country
    
    ax2=dataframe.loc[L,:].groupby(['Year'])['Asylum_seekers'].sum().plot(x='Year', y='Asylum_seekers', style='-o', legend='False') #Aggregate on yearly level to get total refugees per year. 
    ax2.get_yaxis().get_major_formatter().set_scientific(False)
    ax2.xaxis.set_major_formatter(ticker.FormatStrFormatter("%d"))
    ax2.set_title("Total number of Asylum Seekers by End Country")
    ax2.set_ylabel("Number of Asylum Seekers")

In [61]:
  widgets.interact(plot_Asylum_seekersEND, 
    dataframe = widgets.fixed(refug),
    End_Country = widgets.Dropdown(description='End_Country', options=refug.End_Country.unique(), value='Australia')
);

interactive(children=(Dropdown(description='End_Country', options=('Australia', 'Austria', 'Belgium', 'Bulgari…

Origin       Year    Month
Afghanistan  1999.0  April        25
                     August       15
                     February     10
                     January       8
                     July         30
                     June         24
                     March        25
                     May           7
                     October      88
                     September    10
Name: Value, dtype: int64