In [1]:
import pandas as pd

In [2]:
import os 
os.listdir('./data/')

['.DS_Store', 'Resettlements.csv', 'Refugees.csv', 'Refugees.xls']

In [3]:
pd.read_csv("./data/Resettlements.csv", low_memory=False).head(10)

,Extracted from the UNHCR Population Statistics Reference Database,United Nations High Commissioner for Refugees,Unnamed: 2,Unnamed: 3
0,Date extracted: 2015-10-08 04:11:52 +02:00,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,Country / territory of asylum/residence,Origin,Year,Value
3,Canada,Albania,1959,17
4,Canada,Austria,1959,17
5,Canada,Belgium,1959,2
6,Canada,Bulgaria,1959,35
7,Canada,China,1959,2
8,Canada,Czech Rep.,1959,36
9,Canada,Egypt,1959,5

In [4]:
refug = pd.read_csv('data/Resettlements.csv', low_memory=False, skiprows=3)

In [5]:
refug.head(10)

  Country / territory of asylum/residence      Origin  Year Value
0                                  Canada     Albania  1959    17
1                                  Canada     Austria  1959    17
2                                  Canada     Belgium  1959     2
3                                  Canada    Bulgaria  1959    35
4                                  Canada       China  1959     2
5                                  Canada  Czech Rep.  1959    36
6                                  Canada       Egypt  1959     5
7                                  Canada     Estonia  1959    31
8                                  Canada     Finland  1959     3
9                                  Canada      France  1959     1

In [26]:
refug.rename(columns = {'Country / territory of asylum/residence' :  'End_Country', 'Value' : 'Resettlements'}, inplace=True)

In [27]:
#Remove all non-numeric values from "Value" column
refug['Resettlements'] = pd.to_numeric(refug['Resettlements'], errors='coerce')
#Drop all rows with Null values 
refug = refug.dropna(subset=['Resettlements'])
#Convert "Value" varible to integer
refug['Resettlements'] = refug['Resettlements'].astype(int)
refug['Year'] = refug['Year'].astype(int)
refug.head(10)

  End_Country      Origin  Year  Resettlements
0      Canada     Albania  1959             17
1      Canada     Austria  1959             17
2      Canada     Belgium  1959              2
3      Canada    Bulgaria  1959             35
4      Canada       China  1959              2
5      Canada  Czech Rep.  1959             36
6      Canada       Egypt  1959              5
7      Canada     Estonia  1959             31
8      Canada     Finland  1959              3
9      Canada      France  1959              1

In [28]:
refug.dtypes

End_Country      object
Origin           object
Year              int64
Resettlements     int64
dtype: object

In [33]:
import ipywidgets as widgets
import matplotlib.ticker as ticker
#Graph depicting number of refugees over years by orgin
def plot_Resettlements(dataframe, Origin): 
    I = dataframe['Origin'] == Origin
    
    ax=dataframe.loc[I,:].groupby(['Year'])['Resettlements'].sum().plot(x='Year', y='Resettlements', style='-o', legend='False') #Aggregate on yearly level to get total refugees per year. 
    ax.xaxis.set_major_formatter(ticker.FormatStrFormatter("%d"))
    ax.get_yaxis().get_major_formatter().set_scientific(False)
    ax.set_title("Total number of resettlements by Origin Country")
    ax.set_ylabel("Number of resettlements")

In [34]:
    widgets.interact(plot_Resettlements, 
    dataframe = widgets.fixed(refug),
    Origin = widgets.Dropdown(description='Origin', options=refug.Origin.unique(), value='Afghanistan')
);

interactive(children=(Dropdown(description='Origin', index=45, options=('Albania', 'Austria', 'Belgium', 'Bulg…

In [35]:
#Graph depicting number of refugees over years by End_Country
def plot_ResettlementsEND(dataframe, End_Country): 
    L = dataframe['End_Country'] == End_Country
    
    ax2=dataframe.loc[L,:].groupby(['Year'])['Resettlements'].sum().plot(x='Year', y='Resettlements', style='-o', legend='False') #Aggregate on yearly level to get total refugees per year. 
    ax2.get_yaxis().get_major_formatter().set_scientific(False)
    ax2.xaxis.set_major_formatter(ticker.FormatStrFormatter("%d"))
    ax2.set_title("Total number of resettlements by End Country")
    ax2.set_ylabel("Number of resetlements")

In [36]:
  widgets.interact(plot_ResettlementsEND, 
    dataframe = widgets.fixed(refug),
    End_Country = widgets.Dropdown(description='End_Country', options=refug.End_Country.unique(), value='Australia')
);

interactive(children=(Dropdown(description='End_Country', index=2, options=('Canada', 'Belgium', 'Australia', …